<div class="flex flex-wrap justify-center w-full max-w-screen-lg mx-auto lg:py-20 px-10">
    <h2 class="font-bold md:text-5xl text-4xl">
        <span class="text-blueLight">Quienes</span> 
        <span class="text-blueDark">somos</span>
    </h2>
    <p class="lead md:pt-20 pt-10 text-xl text-center">
        En 
        <span class="text-blueLight font-bold">D</span>
        <span class="text-blueDark font-bold">D</span>
        <span class="text-blueLight font-bold">S</span>, 
        ayudamos a las organizaciones a acelerar su transición hacia el desarrollo sostenible mediante la tecnología, innovación y automatización. Ofrecemos soluciones personalizadas que optimizan procesos y potencian resultados.
    </p>
    <p class="lead md:pt-20 pt-5 text-xl text-center">
        Somos un equipo apasionado por la tecnología e innovación, comprometidos con la creación de herramientas y plataformas que impacten positivamente en las organizaciones. Trabajamos de la mano con nuestros clientes, analizando sus necesidades y desarrollando soluciones a medida.
    </p>
    <p class="lead md:pt-20 pt-5 text-xl text-center">
        En 
        <span class="text-blueLight font-bold">D</span>
        <span class="text-blueDark font-bold">D</span>
        <span class="text-blueLight font-bold">S</span> 
        seguimos metodologías ágiles y colaboramos estrechamente con nuestros clientes en cada etapa del proyecto: levantamiento de requerimientos, análisis, desarrollo e implementación.
    </p>
</div>
