---
import Layout 	from "../layouts/Layout.astro";
import Navbar 	from "../components/navbar/Navbar.astro";
import Main 	from "./Main.astro";
import AboutUs 	from "./AboutUs.astro";
import Section 	from "../components/Section.astro";
---

<Layout>
	<Section id="main">
		<Navbar/>
		<Main/>
    </Section>
	<!-- <Section id="about-us">
		<AboutUs/>
    </Section> -->
</Layout>
