---
import Layout 			from "../layouts/Layout.astro";
import Navbar 			from "../components/navbar/Navbar.astro";
import Section 			from "../components/Section.astro";
import Main 			from "./Main.astro";
import AboutUs 			from "./AboutUs.astro";
import Services 		from "./Services.astro";
import Contact 			from "./Contact.astro";
import { Image }        from "astro:assets";
import logo             from "../assets/svg/logo.svg";
const year 				= new Date().getFullYear()
---
<Layout>
	<Navbar/>
	<main>
		<Section id="">
			<Main/>
		</Section>
		<Section id="about-us">
			<AboutUs/>
		</Section>
		<Section id="services">			
			<Services/>
		</Section>
		<Section id="contact">
			<Contact/>
		</Section>
	</main>	
	<footer class="w-full bg-gradient-to-r from-blueLight from-1% to-blueDark to-90%">
		<svg class="bg-gradient-to-r from-blueLight from-1% to-blueDark to-90%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
			<path fill="white" d="M0,160L80,149.3C160,139,320,117,480,133.3C640,149,800,203,960,224C1120,245,1280,235,1360,229.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
		</svg>
		<header class="flex flex-wrap justify-around w-full max-w-screen-lg mx-auto pb-10">
			<a href="#" class="flex align-middle">
				<Image src={logo} format="svg" alt="logo" loading="lazy" width={200}/>
			</a>
			<ul class="py-2 text-white font-days-one text-center">
				<li><a href="#services">Servicios</a></li>
				<li><a href="#about-us">Nosotros</a></li>
				<li><a href="#contact">Contactos</a></li>
			</ul>
		</header>
		<p class="text-center text-white m-0 px-5">
			© {year} DigitalDevSolutions - Aplicaciones Tecnológicas Ltda · Todos los derechos reservados
		</p>
    </footer>
</Layout>
