<a
    class="inline-block rounded bg-blue-600 px-20 py-5 text-lg font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-blue-500"
    href="#contact"
>
    Contáctanos
</a>