<button
    class="w-full inline-block rounded bg-gradient-to-r from-blueLight from-1% to-blueDark to-90% py-2 text-lg font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-blue-500"
>
    <slot/>
</button>