---
    const emial     = "\"DigitalDevSolutions\" <digitaldevsolutionsdds@gmail.com>";
    const subject   = "[PRO-CON] Indicanos tu Asunto:";
    const body      = "[PRO-CON] Indicanos tu Idea:";
---
<a
    class="inline-block rounded bg-gradient-to-r from-blueLight from-1% to-blueDark to-90% px-20 py-5 text-lg font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-blue-500"
    href={`mailto:${emial}?subject=${subject}&body=${body}`}
>
    Contáctanos
</a>